{% include "static-analysis.html" %}

{#
{% block title %}
    Summary Report Page Title
{% endblock %}
#}

{% block content %}
    <h4> Enter Details for Summary Report </h4>
{% endblock %}


{% block body %}
    <form action="#" method="post">
        <p> Hashtag: </p>
        <p><input type="text" name="summary_report_hashtag" /></p>
        <p> Number of Tweets: </p>
        <p><input type="text" name="summary_report_tweets" /></p>
        <p><input type="submit" value="Search" /></p>
    </form>
{% endblock %}
